@page
@model soft20181_starter.Pages.AdminModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <h1>ADMIN</h1>
    <div>
        <button onclick="location.href='AddEvent'">Add Event</button>
        <button onclick="location.href='EditEvent'">Edit Event</button>
        <button onclick="location.href='ManageUser'">Manage Roles</button>
        <button onclick="location.href='ManageUser1'">Manage Users</button>
        <button onclick="location.href='ViewBookings'">View Bookings</button>
        <button onclick="location.href='ViewContacts'">View Contact Messages</button>
    </div>
</body>
</html>

