@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    

}
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>STRAIGHT OUTTA</h1>
            <h2>LAGOS</h2>
            <p class="text">See what makes us different.</p>
            <div id="city"><p id="city" class="small-text">Welcome to Straight Outta Lagos, your gateway to exceptional events! Immerse yourself in a sophisticated and engaging platform designed to bring you the latest and most exciting happenings. Explore our diverse range of events and elevate your experience with a user-friendly interface tailored for your enjoyment</p></div>

            <button class="main__btn"><a href="events.html">Our Events</a></button>
        </div>
        <div class="main__img--container">
            <img src="images/SOL-LOGO.png" alt="pic1" id="main__img">
        </div>
    </div>


    <div class="services">
        <h1> See what the hype is about! </h1>
        <div class="services__container">
            <div class="services__card">
                <h2>Experience Bliss</h2>
                <p>AI powered Technology</p>
                <button>Get started</button>
            </div>
            <div class="services__card">
                <h2>Are you ready?</h2>
                <p>Take the leap</p>
                <button>Get started</button>
            </div>
        </div>
    </div>
