@page
@model soft20181_starter.Pages.ViewContactsModel
@{
}



<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr>
                <td>@contact.Firstname</td>
                <td>@contact.Customermessage</td>

            </tr>
        }
    </tbody>
</table>
